<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/feedback.png">
  </head>
  <body>
    <h1><%= title %></h1>
    
    <p>Welcome to <%= title %></p>


    <p>Settings</p>

    <p>Change Username</p>
    <p>Change Password</p>

    <button><a href="/account">Cancel</a></button>
    
  </body>
</html>