<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/feedback.png">
  </head>
  <body>
    <h1><%= title %></h1>
  
    <p>Welcome to <%= title %></p>

  <form method="POST">
    <label>Change First Name:</label>
    <input type="text" name="FirstName" required>
    <br>
    <label>Change Last Name:</label>
    <input type="password" name="LastName" required>
    <br>
    <input type="submit" placeholder="Save Changes">
  </form>
  <br>
    <button><a href="account-account">Cancel</a></button>

</body>
</html>