<%- include partial/head.ejs %>

<%- include partial/main_nav.ejs %>

<!--
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  -->

    <!--main content-->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to <%= title %></h1>
        <link rel='stylesheet' href='/stylesheets/style.css'>
      </div>
    </main>

  </body>
</html>
