<%- include partial/head.ejs %>

<%- include partial/main_nav.ejs %>



<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h1>About Us </h1>
    <div class="container">
    
     <br>
    <h5> 

      Over the past 50 years, Centennial College has transformed itself 
      from a local community college to a worldly institution, with a 
      presence in countries like China, India, South Korea and Brazil. <br><br>
      No matter who you are, or where you’re from, your journey to success can start here.

      We believe a Centennial education is an education without borders. We’ve re-created our College, giving ourselves a unique position in the marketplace and the world. <br> <br> We are now prepared for the next set of challenges:  be more innovative and entrepreneurial, to further exploit the benefits of technology, to creatively e
      ngage our employees, to build more bridges with communities and employers, and to see our graduates do meaningful work and have meaningful lives.


    </h5>
  
   

    
      
    <style>
h1{
  color: white;
  text-align: center;
}

p {
    color: black;
    
    text-align:justify;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

   }

   .container{
  background-color: #fff;
  height: 330px;
  border-radius: 20px;
  width: 500px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;

}


    </style> 




    </body>
    </html>

  
