<%- include partial/head.ejs %>

<%- include partial/main_nav.ejs %>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <!-- Main Content -->
  <!DOCTYPE html>
<html>
  <head>
    <title></title>
      <link rel='stylesheet' href='/stylesheets/style.css' /> 
    
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body>
    <h1><%= title %></h1>
     <div class="container">
    <hr>
</div>
	<section class="about">
		<div class="main">
			<img src="/images/main.png">
			<div class="about-text">
				<h2>Centennial </h2>
				<h5>College <span>& feedback</span></h5>
				<p><span>Centennial</span> College is Ontario’s first community college with five
                 campuses in the Greater Toronto Area. <span>Centennial</span> is recognized as one of the 
                 most culturally diverse post-secondary institutions in Canada.</p>
                <p>The International Education Team is ready to support you in your goals to study, work and live in Canada. 
                We have hosted more than 50,000 international students in our 53-year history! <span>Centennial</span> supports the personal,
                academic and professional success of our International students through extensive partnership building,
                strong academic pathways, dedicated international student services, and innovative programs that promote 
                experiential learning with laboratory instruction, co-op education and industry work placements.</p>
                <a href="https://www.centennialcollege.ca/" class="visit" type="button">visit our official website</a>
			</div>
		</div>
	</section>    
    <style>
h1{
  color: white;
  text-align: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
span {
    color: #98F725;
}
.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 500px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.visit{
    background-color: #98F725;
    color: #191919;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.visit:hover {
    background-color: transparent;
    text-decoration: none;
    color: #f9004d;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.service {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}
h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

    </style> 
    </body>
    </html>
    
 