<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/feedback.png">
</head>
  <body>
    <h1><%= title %></h1>
    
    <p>Welcome to <%= title %></p>

    <p>First Name: <input type="text" id="uemail" placeholder="Enter email" name="email" required> </p>
    <p>Last Name: <input type="text" id="uemail" placeholder="Enter email" name="email" required> </p>
    <p>Email: <input type="text" id="uemail" placeholder="Enter email" name="email" required> </p>
    <p>Password: <input type="text" placeholder="Enter password" id="upass" name="password" required> </p>

    
    <button><a>Submit</a></button>
    <button><a href="/sign_in">Cancel</a></button>

  </body>
</html>