<!-- Main Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="" alt="Logo" class="image1">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <% if (title == "Home"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/"><i class="fas fa-lg fa-laptop-house"></i> Home Page </a>
        </li>

        <% if (title == "Student's Feedbacks") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/studfeeds"><i class="fas fa-info-circle"></i> Student's Feedbacks</a>
        </li>

        <% if (title == "Professor's Rate") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/profrate"><i class="fab fa-elementor"></i> Professor's Rate </a>
        </li>

        <% if (title == "About Services") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-cogs"></i> About Services </a>
        </li>


        <% if(typeof displayName == 'string' && displayName) { %>
            <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
            <li class="nav-item"><a href="/logout" class="nav-link">
              <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
          <% } else { %>
            <li class="nav-item"><a href="/sign_in" class="nav-link">
              <i class="fas fa-lg fa-sign-in-alt"></i> Sign in</a></li>
          <% } %>
  

          <% if (title == "Settings") { %>
            <li class="nav-item active">
            <% } else  { %>
            <li class="nav-item">
            <% } %>
              <a class="nav-link" href="/settings"><i class="fab fa-elementor"></i> Settings </a>
            </li>

    </div>
  </nav>